.flashcard {
    width: 300px;
    padding: 20px;
    margin: 15px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}

.flashcard:hover {
    transform: scale(1.05);
}

.flashcard-text {
    font-size: 18px;
    color: #333;
    line-height: 1.5;
}